{%- comment %}auto edited file that will be overwritten{% endcomment -%}
{% comment %}<!--section:code-->```liquid{% endcomment %}
<!doctype html>
<html lang="{{ site.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    {% if not site.prod %}<meta name="htmx-config" content='{"selfRequestsOnly": false}'>{% endif %}
    <link rel="icon" href="{{ site.favicon | default: '/favicon.ico' }}">
    <title>
      {%- if title %}{{ title | strip_html | append: ' | ' }}{% endif -%}
      {{- site.title -}}
    </title>
    <meta name="description" content="{{ site.description | strip_html }}">

    {%- for href in site.styles %}
      <link rel="stylesheet" href="{{ href | relative_url }}" blocking=render >
    {%- endfor %}
    <style>
      {{ site.inline_styles | join: '\n' }}
    </style>

    {%- for src in site.scripts %}
      <script src="{{ src }}" defer></script>
    {%- endfor %}
    <script type="module">
      {{ site.inline_scripts | join: '\n' }}
    </script>

    {{ content_for_header }}
    {% include blades/gtm.liquid %}
  </head>

  <body>
    {% include blades/gtm.liquid for_body=true %}

    {% assign nav_pages = collections.all | eleventyNavigation | dataNavigation %}
    {% renderFile 'blades/_nav' nav_pages %}
    {{ body }}
  </body>
</html>
{% comment %}```
<!--section:docs-->
Usage in Liquid layout:

```liquid
{% capture body %}...{% endcapture %}

{% include blades/html.liquid %}
```

Living example: https://github.com/anyblades/bladeswitch/blob/main/_includes/default.liquid
<!--section-->{% endcomment %}
